Debug
x64
GameProject/Debug
GameProject/x64
*.db
*.opendb
GameProject.VC.db
*.log
Debug/GameProject.exe
*.pdb
GameProject/Debug/CameraClass.obj
*.tlog
GameProject/Debug/ObjectClass.obj
*.obj
*.tlog

*.read.1.tlog
*.write.1.tlog